<a href="https://colab.research.google.com/github/Swathi-dadi/DataMinig-FinalProject/blob/main/CPDAcolab1_Swathi_Dadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Notebook 1: INTRODUCTION TO GOOGLE COLAB**

**Note**: Additional background information is provided for you in the blue URLs. These are optional readings that provide more in-depth knowledge about the specific topic.

**Note**: Since you'll need to modify the code in this Colab Notebook, please make a copy of the Notebook for your use. Go to **File > Save a copy in Drive** and then modify that copy.

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

## What is Google Colaboratory?

Google Colaboratory, or "Colab" for short, allows you to write and execute Python in your web browser. Additionally, Colab allows you to combine **executable code** and **rich text** in a single document, along with **images**, **HTML**, **LaTeX** and more. When you create your own Colab notebooks, they are stored in your Google Drive account. You can easily share your Colab notebooks, allowing others to comment on your notebooks or even edit them. For a brief overview, see [Overview of Colab features](https://www.youtube.com/watch?v=inN8seMm7UI). For more details, see [Google Colab Tutorial](https://www.tutorialspoint.com/google_colab/index.htm). 

**Why do we use Google Colab?**
* Freely available with a Google account
* Provides a uniform, cloud-based coding environment
* Allows access to GPUs/TPUs (more computing power than CPUs)
* Easy to share code with others
* Easy graphical visualizations

**Why/When shouldn’t we use Google Colab?**
* Not setup to handle "big data" (GPU/TPU usage and data handling is limited)
* Not the most powerful GPU/TPU setups available
* Not the best de-bugging environment
* Need to re-install modules and reload data every new runtime

---


### A Brief Note on Python
As of January 1, 2020, Python has [officially dropped support](https://www.python.org/doc/sunset-python-2/) for `python2`. We'll be using Python 3.7 for this iteration of the course. You can check your Python version at the command line by running `!python --version`. Note that as of Feb 2023, Colab uses Python 3.8.10 which should run everything without any errors.

In [1]:
# <-- Click on the play button to the left in order to run this code cell
!python --version

Python 3.8.10

---


##Getting started
First, in the Colab menu bar at the top of your window, go to **Tools > Settings**. This should open a new pop up window. In the left side bar, select **Editor** and check the options: 
- "**Automatically trigger code completions**"
- "**Show line numbers**"
- "**Show indentation guides**"

**Optional**: You can also change the theme to dark and/or increase the indentation width to 4 spaces. Increasing indentation will make the code blocks more apparent, which may help when we start discussing control flow and variable scoping in Week 3.

![picture](https://drive.google.com/uc?id=1YHxVNDzImhjEatGojZxSW9kZmR8kO1af)

Google Colab is composed of 2 different types of "cells". 

For this course: 
1. **Text cells** are where you will find conceptual information and questions
2. **Code cells** contain coding exercises or examples with technical comments and hints
    * Code should run without any errors and produce the expected output

Below this text cell is a code cell that defines a Python function named `quicksort`. Don't worry about what the code does, we're just using it as an example here. To edit the code, just click the cell and start typing.

In [2]:
# The function `quicksort`:
#  - requires a single input (denoted by the parameter `arr` for an array)
#  - rearranges the numbers in `arr` by increasing value
#  - then returns the sorted array

def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

To execute the code in ONE code cell:
- Select the code cell with a click
- Then either:
    - **Press the play button** to the left of the code **OR**
    - Use the keyboard shortcut "**Ctrl+Enter**"

To execute ALL of the code cells in a Colab Notebook:
- Use the keyboard shortcut "**Ctrl+F9**"

Try running the code cell above. Executing this code does not create any output because this cell simply defines what the function should do when called. Functions and variables that you define in one cell can later be used in later cells. However, if you edit anything in a prior cell, you may need to re-run all the code cells.


---


**IMPORTANT**: The following was a painpoint for previous classes, so in this introduction to Google Colab, let's also consider the difference between generating output for display versus generating output that needs to be used in later code.

In [3]:
# Let's create a list of random numbers
my_list = [13, 600, 8, 10, 1, 2, 1]

# Then call the function `quicksort` from the previous code cell using `my_list` 
# as the input parameter. Note that the function has a return statement. We 
# explicitly assign the output of the function to the variable `results` in the 
# line below.
results = quicksort(my_list)


# Test the 2 display options described below 
quicksort(my_list)
results

[1, 1, 2, 8, 10, 13, 600]

There is no output displayed; however, the output is assigned to the variable `results`. 

To see the output of `quicksort`, we can:
1. Call the function `quicksort(my_list)` as the last line of the code cell
2. Call the variable `results` as the last line of the code cell

    - Google Colab has a built-in shortcut that outputs the result if **only** that object is called in the last line of the code cell. This is specific to Jupyter Notebooks, which is the underlying code supporting Google Colab, and IS NOT TYPICAL for Python integrated development environments (IDEs)

In [4]:
# Since quicksort has a return statement, the function returns an implicit 
# object. Here, we just called the function `quicksort` and Colab can still 
# display the results... 
#quicksort([3, 6, 8, 10, 1, 2, 1])

# IMPORTANT: However, we can only DISPLAY this result in the current code cell
# and there is no way to USE it after the function is called. 

# What happens if you comment out the return statement in `quicksort`? Add a `#` 
# at the start of the line and then re-run the code cell.
print(results)

[1, 1, 2, 8, 10, 13, 600]

3. Call the built-in Python `print()` function on the variable `results`

    - This function will work in any Python environment 

Then why do we need to assign the output of `quicksort()` to a variable?

In [5]:
# If the Python object is not the last line of code to be evaluated, nothing 
# will be displayed when you call `results` like in Line 3 below.
results
print('This is from the print function: ', str(results))

This is from the print function:  [1, 1, 2, 8, 10, 13, 600]

In [6]:
# To access and modify the results, we need a reference to where the data are
# stored in memory:
results[0] = 'The first element'
print(results)

['The first element', 1, 2, 8, 10, 13, 600]

**Note**: What is the difference between `return` and `print`? And how does this affect displaying versus using the output of the code?

Google Colab makes the distinction between these two difficult to untangle  because it can automatically display the evaluation of the last line of code in a code cell. 

* `print()` is a built-in function. It takes as input any Python object and attempts to display it on the terminal. However, this is only a display; you cannot access the value of the `print()` function. 

* In comparison, `return` is a specific keyword used at the end of a function that "returns" the result as a Python object that you can then use in later lines of code via an assignment statement.

**So if you want to display your output, use `print()` or call the results on the last line of a code cell (specific to Google Colab).**

**If you need to access the output of a function, use `return` in your functions and then, after calling your function, assign the output to a variable**


---


**Checkpoint 0**
*   Modifying Google Colab settings
*   Using text and code cells in Google Colab
*   Displaying results vs. using results from a code cell
*   `return` vs. `print()`



---


# Part A: Setting up a coding environment in Google Colab
One of Python's strengths is its large and active user base that writes and shares their code. This code is organized into [packages](https://www.analyticsvidhya.com/blog/2021/04/top-8-hidden-python-packages-for-machine-learning-in-2021/) that anyone can install and use, which makes it very easy to start producing results with minimal knowledge of coding. 



---



In this section, we're going to take a top down approach while setting up our coding environment. Google Colab comes with many machine learning packages already installed. However, we'll step through how to:
1. Install new packages using the system command line
2. Import the required modules into Colab's environment
3. Use functions and variables from the imported modules

![picture](https://drive.google.com/uc?id=1o42Asn4mKAeixr_24lZrhSBgiGcw1VVi)

## A.1 Installing Python packages using ```!pip```

Let's briefly discuss the infrastructure that we're going to work on. 

**There are 5 main components that we need to interact with:**

1. Our local computer system
2. Google's system, which we'll call Google Cloud
3. Google Colab, which is a Python IDE that runs on Google Cloud
    * IDE = Integrated Development Environment
4. Google Drive, which is data storage on Google Cloud
5. The Internet, as a data source

![picture](https://drive.google.com/uc?id=1AYqxvu_VqBq2QiG_TyEuLpRbzfklHpmh)

In order to use the Python software packages listed above, we need to:
1. Install the software on Google's system using the command `!pip`
2. Importing the Python module into the Colab IDE using the command `import`
3. Call the `class`, `function`, or `attribute` as needed in our code cell

In [7]:
"""
Note: In Python, a multi-line comment is denoted using the double quotes.

Note: This is a code box. Anything in here must follow Python syntax since the
interpreter will attempt to evaluate it as Python code.

Note: The `!` operator before the `pip` command indicates that this line is
NOT Python code, instead the interpreter will pass it to the operating system 
to run on the command line.
"""

# Use the command `!pip install package_name` to install the Python packages
# listed above. Multiple packages can be installed on one line by listing each 
# package separated by a space ' '.

# For example to install the numpy package:
!pip install numpy

# Now install the remaining packages:
!pip install pandas scipy scikit-learn matplotlib jupyter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (1.10.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.2.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.5.3)
Collecting jupyter
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (23.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.8/dist-packages (from jupyter) (7.7.1)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.8/dist-packages (from jupyter) (5.3.4)
Requirement already satisfied: notebook in /usr/local/lib/python3.8/dist-packages (from jupyter) (6.3.0)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.8/dist-packages (from jupyter) (6.1.0)
Collecting qtconsole
  Downloading qtconsole-5.4.0-py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.0/121.0 KB 10.7 MB/s eta 0:00:00
Requirement already satisfied: nbconvert in /usr/local/lib/python3.8/dist-packages (from jupyter) (6.5.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter) (6.2)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter) (5.7.1)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter) (7.9.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->jupyter) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->jupyter) (3.6.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->jupyter) (3.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-console->jupyter) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from jupyter-console->jupyter) (2.6.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (4.9.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (1.5.0)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (5.2.0)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (2.1.2)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (5.7.3)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (0.7.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (0.2.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (6.0.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (1.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter) (4.6.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter) (0.13.3)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter) (0.16.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter) (21.3.0)
Requirement already satisfied: Send2Trash>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter) (1.8.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter) (23.2.1)
Collecting qtpy>=2.0.1
  Downloading QtPy-2.3.0-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.6/83.6 KB 10.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=5.0.0->ipykernel->jupyter) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 69.1 MB/s eta 0:00:00
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=5.0.0->ipykernel->jupyter) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=5.0.0->ipykernel->jupyter) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=5.0.0->ipykernel->jupyter) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=5.0.0->ipykernel->jupyter) (0.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.7->nbconvert->jupyter) (3.0.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat>=5.1->nbconvert->jupyter) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat>=5.1->nbconvert->jupyter) (4.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter) (0.2.6)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado>=0.8.3->notebook->jupyter) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.8/dist-packages (from argon2-cffi->notebook->jupyter) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter) (5.12.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter) (2.21)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter) (3.15.0)
Installing collected packages: qtpy, jedi, qtconsole, jupyter
Successfully installed jedi-0.18.2 jupyter-1.0.0 qtconsole-5.4.0 qtpy-2.3.0

## A.2 Importing Python modules into our workspace
- After installing the packages, we need to bring the modules into this Google Colab workspace using ```import```
- Sometimes we only want a specific parts of a module. These can be explicitly imported using ```from module import part``` or ```import module.part``` where "part" can be a class, function, or variable
- Explicitly importing the "part" we want is more efficient since additional time and resources are required to load each module before running the code

```
!pip install package_name

import module

from module import class
from module import function
from module import variable

import module.class
import module.class.function
```

In [8]:
# Regular import statements
import scipy


# Note: Modules can be renamed to something shorter using the keyword `as`
# NumPy is commonly shortened to `np`
import numpy as np
import pandas as pd

### (3 points) Problem 1: Import the sci-kit learn module into your Google Colab

In [11]:
# Now try to import scikit-learn (ref: https://scikit-learn.org/stable/install.html)
import sklearn;

* Why does the import statement for Scikit-Learn fail? (Consider Python syntax; how is the interpreter trying to evaluate this line of code?)
* Ctrl + click on the Scikit-Learn URL above to visit the developer website
* What is the correct import statement? (It follows a similar format as shown above)

In [10]:
# To check if the installation and import works, we can check for the version 
# of each package using `__version__`
print(f"SciPy version: {scipy.__version__}")
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Pyhton version: {pd.__version__}")
# Check for what version of scikit-learn you are running here.
print(f"scikit-learn version: {pd.__version__}")

SciPy version: 1.10.1
NumPy version: 1.22.4
Pandas version: 1.3.5
Pyhton version: 1.3.5
scikit-learn version: 1.3.5

### (4 points) Differentiate between the import statements below

In [27]:
# How do these import statements differ or are they the same? 
# Respond by creating a text cell below and typing in your response.
import matplotlib

import matplotlib.pyplot as plt

from matplotlib import pyplot

from matplotlib import pyplot as plt

1.**import matplotlib**- imports matplitlib module properties into workspace.

2.**import matplotlib.pyplot as plt**- imports only pyplot sub module properties with alias name as **plt**

3.**from matplotlib import pyplot**- it imports only pyplot sub module from matplotlib. It is similar  to **import matplotlib.pyplot**

4.**from matplotlib import pyplot as plt** - it is similar to **import matplotlib.pyplot as plt** imports only pyplot sub module properties with alias name as **plt**

**Checkpoint 1**

*   Setting up your work environment in Google Colab
*   Installing Python packages
*   Importing modules into the Colab environment

---

# Part B: Opening the black box: Packages to Functions
## Motivating Question: How do we use the modules that we just imported?
We just introduced packages and modules, which can be considered toolboxes in Python. Now, let's unpack those toolboxes. How do we get and use individual tools? For this, we need to understand how [**well-structured Python code is typically organized**](https://realpython.com/lessons/scripts-modules-packages-and-libraries/). I'll use the Preprocessing module in the Scikit-Learn package as a concrete example, see the documentation here: 

https://scikit-learn.org/stable/modules/preprocessing.html


---


Note: As Python code becomes more complex, the terms **packages**, **libraries**, and **modules** have lost their original definitions and are used interchangably to mean either the software being installed and/or the code being imported into the environment.


---


### Organization of Python Code: Packages to Functions
- **Package or libraries**: a directory of 1 or more modules
  - Installed using `!pip` on the system command line
  - Example: `!pip install sklearn`
- [**Modules**](https://realpython.com/python-modules-packages/): a Python file that contains 1 or more classes or functions
  - Use `import` to bring the contents of a module into your workspace
  - Example: `import sklearn.preprocessing` or `from sklearn import preprocessing`
  - Here, we have a case of `import module.submodule`
- [**Classes**](https://realpython.com/instance-class-and-static-methods-demystified/): a set of variables and functions with a common purpose
  - Keyword ```class```
  - Example: `sklearn.preprocessing.StandardScalar()`
  - Note the presence of the parentheses
- [**Functions or Methods**](https://realpython.com/defining-your-own-python-function/): a reusable, modular piece of Python code
  - Keyword ```def```
  - Optional parameters are included within the parentheses
  - Example: ```inverse_transform(X, copy=None)```
  - Note the presence of the parentheses with the parameters `X` and `copy`
- Scripts or code snippets = single-use, simple code or code fragments

In [12]:
# This is a class. It's a Python object that acts like a container to organize 
# functions and variables with a similar purpose

class BuyCoffee:

    # It can store data in variables.
    max_shots_of_espresso = 3

    # It can contain functions, which may take input parameters (eg `num_shots`)
    def calc_cost(self, num_shots=0):
        cost = 1.25 * num_shots
        return cost

    def add_tip(amount):
        print(amount * 1.15)

### B.1 Accessing variables from imported modules

In [13]:
# This is a code snippet accessing the data from our example class `BuyCoffee`
# Note the lack of () when calling a variable `max_shots_of_espresso`

my_cafe = BuyCoffee()                # We create an instance of our class
var = my_cafe.max_shots_of_espresso  # Then we can access the variable from that class
print(var)                           # And then "do something" to that variable

# This is similar to calling the variable `pi` from the Python math module
import math         # Importing our module is similar to instantiating our class in Line 4
var = math.pi       # Then we can access the variable from that module
print(var)          # And then "do something" to that variable

3
3.141592653589793

### B.2 Accessing functions from imported modules
For now, think of functions as a black box. They may take 1 or more values as inputs, which are then transformed by the function, and then usually generates an output. 

Here, we're calling the function `calc_cost()` and supplying the input of `2` shots of espresso to get the total cost of `my_coffee`.

This is equivalent to calling the function `floor()` and supplying a decimal to get the greatest integer less than the input value as `result`.

In [14]:
# This is a code snippet accessing the function from our class `BuyCoffee`
# Note the use of () when calling a function `calc_cost()`

# We've already created an instance of our class in the code cell above
my_coffee = my_cafe.calc_cost(2)    # Which gives us access to the function
print(my_coffee)

# This is similar to calling the function `floor` from the Python module `math`
# We've already imported the math module in the code cell above
result = math.floor(my_coffee)      # Which gives us access to the function `floor()`
print(result)

2.5
2

### B.3 Putting it all together: Package to function

Most Python packages like `pandas` have a built-in function for file I/O. 

Can you explain what is occurring in each line?

#### (3 points) Using comments in the code block below, explain what is occurring in each line of code

In [16]:
!pip install pandas #installing pandas package

import pandas as pd #importing pandas module with alias name as pd

# Here, we're defining the path to a file containing a sample dataset
file_name = "/content/sample_data/california_housing_test.csv"
# Here, reading the file_name dataset and assigning it to data variable
data = pd.read_csv(file_name)

# To check that we have the right data, let's look at the first 5 rows
data.head(5)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

# Part C: Bringing in the Data: File I/O

## C.1 File I/O using basic Python

The most basic approach is to read a file using Python's built-in file reader. You can upload your files into the `sample_data` folder as seen in the screenshot here. For this example, we'll use the datasets that are already present in the folder.

![image.png]()

In [17]:
# The built-in Python function is `open(PATH/TO/YOUR/FILE)`
# However, to prevent memory leaks, it's conventionally used as follows:
with open('sample_data/california_housing_test.csv') as my_file:
  data1 = my_file.read(10)    # This reads the first 10 characters of a file

with open('sample_data/california_housing_test.csv') as my_file:
  data2 = my_file.readline()  # This reads the first line of a file

print(data1)
print(data2)

# Note: To access and then analyze the full file, these data will need to be 
# stored in a data structure. For large datasets, the built-in Python data 
# structures are not very efficient, hence the reason why it's best to use the 
# file loaders for the data analysis packages (e.g. NumPy and Pandas)

"longitude
"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

## C.2 External data sources

In the example above, the file `california_housing_test.csv` is already present within the Google Colab IDE. How can we bring in external data, such as: 

* accessing data repositories on the Internet
* hard drives on our local machine


![picture](https://drive.google.com/uc?id=1AYqxvu_VqBq2QiG_TyEuLpRbzfklHpmh)

#### Mount Google Drive (Option 1)

An additional benefit of using Google Colab is the integrated environment that it provides. Having direct access to your Google drive enables you to directly load your data without having to store massive files locally. 

Download and save the following [file](https://github.com/chaitanya2334/jupyter-tutorial/blob/master/data/US_Accidents_May19_truncated.csv) into your Google drive and run the cell below to mount your drive into this Colab session.

In [21]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

#### Direct Upload (Option 2)

Or you can simply choose to upload the file directly be selecting **File > Upload** from the left panel. As you saw previously, we can directly access any file through the file directory in the left panel. However, once you close this session, you may not have access to that data.

![picture](https://drive.google.com/uc?id=1l1X_T_C12AnodUAhZDdOpgQy0WobLccF)
 

You will get an alert reminding you that the data you just uploaded is temporary.

#### Cheating cheating cheaters AKA Reading the binary (Option 3)

The preceding methods require at least two steps:
1. Download the file from the Internet to our local computer
2. Upload the file from our computer to the Google cloud

The advantage is that we have control of one copy of the data. But, if that is not a concern, the previous methods are rather cumbersome. **Why can't we import data in one step by transfering the data from the Internet directly to the Google cloud?** All data files on the Internet (and on our computers) are just a stream of binary (AKA a bunch of `1` and `0`). We just need a Python widget to get and translate the binary into its correct file format. 

Let's be very verbose so you can see what each part of the code is doing:

In [22]:
# We'll need some additional modules
import pandas as pd
import requests
import io


# Here is the URL link provided for the data set
# Note: We need to use the "raw" file link to get just the raw data
url = 'https://raw.githubusercontent.com/chaitanya2334/jupyter-tutorial/master/data/US_Accidents_May19_truncated.csv'

# Everything on the World Wide Web can be shuttled around using an "HTTP request"
response = requests.get(url)

# There are several parts to the "response", we just want the contents AKA the file
my_file = response.content

# Then, to convert the binary back to the correct file format:
my_file = io.BytesIO(my_file)

# Now this file can be read just like an uploaded file
data = pd.read_csv(my_file)
data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-603309,MapQuest,241.0,2,2019-02-15 16:56:38,2019-02-15 17:26:16,34.725163,-86.596359,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-676455,MapQuest,201.0,2,2019-01-26 15:54:00,2019-01-26 16:25:00,32.883579,-80.019722,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-2170526,Bing,NaN,4,2018-01-06 10:51:40,2018-01-06 16:51:40,39.979172,-82.983870,39.99384,-82.98502,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1162086,MapQuest,201.0,2,2018-05-25 16:12:02,2018-05-25 17:11:49,34.857208,-82.256157,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-309058,MapQuest,201.0,2,2016-10-26 19:42:11,2016-10-26 20:26:58,47.662689,-117.357658,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night

In [23]:
# This can be condensed into just a few lines of code, technically 1 line if desired:
url = 'https://raw.githubusercontent.com/chaitanya2334/jupyter-tutorial/master/data/US_Accidents_May19_truncated.csv'
data = pd.read_csv(io.BytesIO(requests.get(url).content))
data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-603309,MapQuest,241.0,2,2019-02-15 16:56:38,2019-02-15 17:26:16,34.725163,-86.596359,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-676455,MapQuest,201.0,2,2019-01-26 15:54:00,2019-01-26 16:25:00,32.883579,-80.019722,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-2170526,Bing,NaN,4,2018-01-06 10:51:40,2018-01-06 16:51:40,39.979172,-82.983870,39.99384,-82.98502,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1162086,MapQuest,201.0,2,2018-05-25 16:12:02,2018-05-25 17:11:49,34.857208,-82.256157,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-309058,MapQuest,201.0,2,2016-10-26 19:42:11,2016-10-26 20:26:58,47.662689,-117.357658,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night

We can use a modification of this same trick to pull data from Google Drive. 

Remember that we need a URL that points directly to the file we want, and only that file. Usually the URL will end with the file format like .csv or .doc or we can highjack a downloader link.

In [24]:
# First, we'll need a URL that points directly to the file. 

# What we have is the Google Drive share link:
my_link = 'https://drive.google.com/file/d/1OUK9Hp3vF7yu9pKiqxLpICrUUl9d9R0h/view?usp=sharing'

# Next, extract the file identifier from the link above
file_id = '1OUK9Hp3vF7yu9pKiqxLpICrUUl9d9R0h'

# Then, we're going to "borrow" the functionality of the Google downloader to 
# build a URL that delivers our file
google_dl = 'https://drive.google.com/uc?export=download&id='
url = google_dl + file_id

# Use a HTTPS request to get the file as 'response'
response = requests.get(url)

# We need to convert the raw data into a file
my_file = io.BytesIO(response.content)
pd.read_csv(my_file)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-603309,MapQuest,241.0,2,2019-02-15 16:56:38,2019-02-15 17:26:16,34.725163,-86.596359,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-676455,MapQuest,201.0,2,2019-01-26 15:54:00,2019-01-26 16:25:00,32.883579,-80.019722,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-2170526,Bing,NaN,4,2018-01-06 10:51:40,2018-01-06 16:51:40,39.979172,-82.983870,39.993840,-82.98502,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1162086,MapQuest,201.0,2,2018-05-25 16:12:02,2018-05-25 17:11:49,34.857208,-82.256157,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-309058,MapQuest,201.0,2,2016-10-26 19:42:11,2016-10-26 20:26:58,47.662689,-117.357658,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,A-2068308,Bing,NaN,4,2018-10-27 20:26:12,2018-10-27 20:55:39,37.503687,-78.429081,37.500214,-78.40912,...,False,False,False,False,False,False,Night,Night,Night,Night
497,A-814129,MapQuest,201.0,3,2018-10-04 06:25:29,2018-10-04 06:55:12,34.010056,-117.823219,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
498,A-384979,MapQuest,201.0,3,2017-02-14 18:21:06,2017-02-14 18:49:24,29.773031,-95.232956,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
499,A-1425908,MapQuest,201.0,3,2017-12-06 06:22:02,2017-12-06 06:51:27,47.502686,-122.196663,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
500,A-2195526,Bing,NaN,3,2017-12-28 09:08:05,2017-12-28 15:08:05,48.239830,-122.406300,48.239830,-122.40630,...,False,False,False,False,False,False,Day,Day,Day,Day

In [25]:
# Just like the GitHub example, the code above can be condensed into just a few lines of code:

file_id = '1OUK9Hp3vF7yu9pKiqxLpICrUUl9d9R0h'
google_dl = 'https://drive.google.com/uc?export=download&id='
data = pd.read_csv(io.BytesIO(requests.get(google_dl + file_id).content))
data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-603309,MapQuest,241.0,2,2019-02-15 16:56:38,2019-02-15 17:26:16,34.725163,-86.596359,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-676455,MapQuest,201.0,2,2019-01-26 15:54:00,2019-01-26 16:25:00,32.883579,-80.019722,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-2170526,Bing,NaN,4,2018-01-06 10:51:40,2018-01-06 16:51:40,39.979172,-82.983870,39.99384,-82.98502,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1162086,MapQuest,201.0,2,2018-05-25 16:12:02,2018-05-25 17:11:49,34.857208,-82.256157,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-309058,MapQuest,201.0,2,2016-10-26 19:42:11,2016-10-26 20:26:58,47.662689,-117.357658,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night

**Checkpoint 2**

*   Organization of Python code
*   Importing modules, functions, and variables
*   Using functions from modules
*   Importing and Exporting Data
---